html
head
  title #{book.Title}
  link(rel='stylesheet' href='/stylesheets/book.css')
  meta(charset="utf-8")
header
  ul#menu
    li
      a(href='../') Main Page
main
  #mainCard
    h1#title #{book.Title}
    br
    - let img = book.Poster
    img#poster(src=img)
    #info
      h3 Title: #{book.title}
      h3 Authors:
      each author in authors
          p #{author.name}
      br
      h3 Year of release: #{book.release_date}
      h3 Numebr of pages: #{book.page_cnt}
      h3 Publisher: #{book.publisher_name}
      h3 Price: #{book.price}
    br

footer
script(src='/public/book.js')
