html
head
  title #{book.title}
  link(rel='stylesheet' href='/stylesheets/book.css')
  meta(charset="utf-8")
header
  ul#menu
    li
      a(href='../') Main Page
main
  #mainCard
    h1#title #{book.title}
    br
    #info
      h3 Authors:
      each author in authors
        -aid = author.author_id
        .column
        .card(onclick='showAuthor("'+aid+ '")')
            p #{author.name}
      br
      h3#ISBN ISBN: #{book.book_id}
      h3 Year of release: #{book.release_date}
      h3 Numebr of pages: #{book.page_cnt}
      h3 Publisher: #{book.publisher_name}
      h3 Price: #{book.price_store}
      h3 Genre: #{book.genre}
    br
    button#addToCart(onclick='addToCart("'+book.book_id+ '")')  Add To Cart

footer
script(src='/public/book.js')
