html
    head
        title Checkout
        link(href='/stylesheets/checkout.css' rel='stylesheet')      
        meta(charset="utf-8")

    header 
      h1#title SAMI BOOKS
    body
        #main
        #userinfo 
          h3 User Information
          input(type="text" placeholder="Name" id="name" value=user.name) 
          input(type="text" placeholder="Contact Info" id="contactinfo" value=user.email)
        #checkout
          h3 Billing Information
          input(type="text" placeholder="Street Address" id="address" value=user.street)
          input(type="text" placeholder="Apartment #" id="apt" value=user.apt_num)
          br
          input(type="text" placeholder="City" id="city" value=user.city)
          input(type="text" placeholder="Country" id="country" value=user.country)
          input(type="text" placeholder="Province" id="province" value=user.province)
          input(type="text" placeholder="Postal Code" id="zipcode" value=user.zipcode)
          br
          button#checkout(onclick='checkout()') checkout
footer
script(src='/public/checkout.js')


 
            