
html
head
  title Reports
  link(rel='stylesheet' href='/stylesheets/reports.css')
  meta(charset="utf-8")
main  
    h2 Orders per genre
    br
    each sale in sales_genre
        .column
        .card
            h4 #{sale.genre}
            h4 total sold: #{sale.count}
            h4 total money earned: #{sale.sum}
    br
    br
    h2 Orders per author
    br
    each sale in sales_author
        .column
        .card
            h3 #{sale.name}
            h4 total sold: #{sale.count}
            h4 total money earned: #{sale.sum}
    br 
    br
    h2 Orders per publisher
    br
    each sale in sales_publisher
        .column
        .card 
            h3 #{sale.publisher_name}
            h4 total sold: #{sale.count}
            h4 total money earned: #{sale.sum}
    br 
    br
    h2 Money sent to each publisher
    br
    each profit in profit_publisher
        .column
        .card 
            h3 #{profit.publisher_name}
            h4 total money sent: #{profit.round}
    br
    br
    h2 This month summery
    h3 in total you've spent: #{total_spent.spent}
    h3 in total you've earned: #{total_income.sum}
    h3 gross icnome: #{total_income.sum - total_spent.spent}